@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@600&display=swap');
body {
    font-family: 'Bebas Neue', cursive;
    background-color: tan;
}
.swiftshop h1 {
  font-size: 4em;
  margin: 10px;
}
.about-container {
  margin-top: 10px;
}
.about-body {
  margin: 10px;;
  font-family: 'Dosis', sans-serif;
}
.abtimg {
  width: 100%;
  margin: auto;
  padding: 30px 0 30px 0;
}
.imgcont {
  position: relative;
  text-align: center;
}
.imgtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10em;
  font-family: 'Bebas Neue', cursive;
}
.items {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
}
#homeitems {
  justify-content: left;
}
#profitems {
  display: flex;
  flex-direction: wrap;
}
.card-img-top {
  height: 150px;
}
#profcard-img-top {
  height: 300px;
}
.card {
  width: 200px;
  height: 300px;
  margin: 10px;
}
#profcard {
  width: 400px;
  height: 600px;
}
.card-body {
  padding: 20px;
  background-color: rgba(210, 180, 140, 0.413);
  line-height: 15px;
}
button {
  margin: 10px 5px 10px 5px;
}
#addbtn {
  margin-top: 10px;
}
#editbtn {
  width: 40px;
}
.add-container {
  margin: 10px;
}
.yourshop {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
h3 {
  text-align: center;
  margin-top: 10px;
}
h1:hover {
  cursor: pointer;
}
a:hover {
  cursor: pointer;
}
.categories {
  display: flex;
}
.nav-pointer {
  padding: 10px 10px 10px 0;
}